.box {
    display: flex;
    justify-content: center; 
    display: flex
    }
.box1 {
    width: 300px;
    height: 300px;
    background: #5c9597;
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;        
    justify-content: space-between; 
    align-items: center;          
    padding: 20px 0;               
}

.box2 {
    width: 100px;
    height: 100px;
    background: #5fbe7c;
    border-radius: 50%;            
}

.text {
    text-align: center;
}
